### Libraries for reading in data

In [1]:
import pandas as pd
import os
import numpy as np
notebook_directory = os.getcwd()

# NBA Player Box Scores 2024-2025 data

In [2]:
box_score_data_path = os.path.join(notebook_directory,'data','NBA-BoxScores-2024-2025.csv')
df_boxscores = pd.read_csv(box_score_data_path)
np.shape(df_boxscores)

(736, 30)

In [3]:
df_boxscores.head() # looks like this consists of player-games of the 2024 to 2025 NBA seasons

,Unnamed: 0,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0,22400061,1610612752,NYK,New York,1628384,OG Anunoby,OG,F,NaN,...,0.0,5.0,5.0,3.0,1.0,0.0,0.0,3.0,4.0,-21.0
1,1,22400061,1610612752,NYK,New York,1628404,Josh Hart,Josh,F,NaN,...,1.0,3.0,4.0,3.0,0.0,0.0,1.0,0.0,12.0,-23.0
2,2,22400061,1610612752,NYK,New York,1626157,Karl-Anthony Towns,Karl-Anthony,C,NaN,...,0.0,7.0,7.0,3.0,0.0,0.0,0.0,1.0,12.0,-18.0
3,3,22400061,1610612752,NYK,New York,1628969,Mikal Bridges,Mikal,G,NaN,...,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,16.0,-33.0
4,4,22400061,1610612752,NYK,New York,1628973,Jalen Brunson,Jalen,G,NaN,...,0.0,1.0,1.0,2.0,0.0,0.0,4.0,3.0,22.0,-23.0

In [12]:
# player stats in this span
columns_to_exclue = ['Unnamed: 0', 'GAME_ID','TEAM_ID','PLAYER_ID']
player_stats = df_boxscores.groupby(by='PLAYER_NAME').agg("mean", numeric_only=True).drop(columns=columns_to_exclue)
player_stats.insert(0,'TEAM',df_boxscores.groupby(by='PLAYER_NAME')['TEAM_ABBREVIATION'].unique())
player_stats.sample(10)

,TEAM,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
PLAYER_NAME,,,,,,,,,,,,,,,,,,,,
Jalen Wilson,[BKN],1.5,5.0,0.2145,1.0,3.5,0.2000,4.0,4.0,0.50,0.5,2.0,2.5,1.5,0.5,0.0,1.5,4.5,8.0,-6.5
Ochai Agbaji,[TOR],3.0,5.0,0.7780,0.0,0.5,0.0000,1.5,2.0,0.75,3.5,3.5,7.0,1.0,1.5,0.5,0.5,2.5,7.5,-8.5
Jordan Miller,[LAC],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DeAndre Jordan,[DEN],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oscar Tshiebwe,[UTA],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alperen Sengun,[HOU],7.5,17.5,0.4200,1.0,2.5,0.3335,4.5,6.0,0.75,5.5,11.0,16.5,3.5,2.5,0.5,3.0,3.5,20.5,13.5
Ousmane Dieng,[OKC],2.0,4.0,0.5000,2.0,3.0,0.6670,0.0,0.0,0.00,0.0,3.0,3.0,0.0,0.0,1.0,0.0,1.0,6.0,14.0
Ulrich Chomche,[TOR],1.0,1.0,1.0000,0.0,0.0,0.0000,0.0,0.0,0.00,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,-4.0
Collin Gillespie,[PHX],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Colby Jones,[SAC],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# team stats in this span
columns_to_exclue = ['Unnamed: 0', 'GAME_ID','PLAYER_ID','TEAM_ID']
round(df_boxscores.groupby(by='TEAM_ABBREVIATION').agg("mean", numeric_only=True).drop(columns=columns_to_exclue),3).sample(10)

,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
TEAM_ABBREVIATION,,,,,,,,,,,,,,,,,,,
HOU,3.522,8.739,0.385,1.304,3.739,0.292,1.783,2.435,0.373,1.696,2.957,4.652,1.696,0.783,0.348,1.087,2.174,10.130,3.261
MIL,3.296,6.407,0.351,1.074,2.852,0.265,1.444,2.074,0.321,0.593,2.852,3.444,1.889,0.333,0.444,1.037,1.370,9.111,0.741
MIN,4.222,9.500,0.396,1.833,5.056,0.278,1.944,2.444,0.517,1.000,3.944,4.944,2.278,0.389,0.167,1.722,2.556,12.222,-1.389
SAS,3.000,6.615,0.382,0.923,2.769,0.265,1.462,1.846,0.356,0.923,3.077,4.000,2.308,0.462,0.385,1.462,1.385,8.385,-4.231
PHX,3.810,7.619,0.506,1.524,3.571,0.317,1.905,2.429,0.493,0.429,3.190,3.619,2.857,0.952,0.619,1.810,2.333,11.048,-0.952
LAC,4.200,9.200,0.501,0.800,2.900,0.287,2.100,3.000,0.390,1.300,3.800,5.100,2.700,0.900,0.100,2.100,2.900,11.300,-1.500
SAC,3.800,8.200,0.407,1.100,2.900,0.233,2.800,3.500,0.578,0.400,3.400,3.800,2.100,0.700,0.200,0.900,1.800,11.500,-1.000
MIA,2.667,6.833,0.405,0.917,2.833,0.311,1.833,2.417,0.400,0.750,2.667,3.417,2.000,0.417,0.667,0.917,1.583,8.083,-7.917
DEN,2.500,7.000,0.240,0.500,2.714,0.086,0.714,1.000,0.286,1.214,2.857,4.071,2.071,0.786,0.500,1.071,0.857,6.214,-5.357
PHI,2.800,6.960,0.374,0.680,2.400,0.160,2.360,3.200,0.450,1.080,2.000,3.080,1.480,0.600,0.280,1.040,2.400,8.640,-4.600

In [30]:
team_stats2_data_path = os.path.join(notebook_directory,'data','2025teamstats.csv')
df_teamstats2025 = pd.read_csv(team_stats2_data_path)
np.shape(df_teamstats2025)

(31, 25)

In [32]:
df_teamstats2025.columns

Index(['Rk', 'Team', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
       '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [31]:
df_teamstats2025.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Cleveland Cavaliers,57,240.0,45.1,90.6,0.498,16.1,41.2,0.391,...,0.783,10.8,34.4,45.2,29.1,8.4,4.4,13.2,18.6,122.9
1,2.0,Memphis Grizzlies,57,240.0,45.0,93.3,0.482,13.9,37.5,0.372,...,0.769,13.3,34.4,47.7,28.9,9.0,6.0,16.5,21.3,122.8
2,3.0,Denver Nuggets,57,241.8,45.7,90.0,0.508,12.0,31.6,0.381,...,0.776,11.3,34.6,45.9,31.2,8.2,4.7,14.3,17.5,121.3
3,4.0,Oklahoma City Thunder,56,240.0,44.0,92.4,0.476,14.1,38.8,0.363,...,0.823,11.0,33.6,44.5,26.5,10.9,5.7,12.0,20.4,118.3
4,5.0,New York Knicks,57,241.8,44.0,89.3,0.493,12.8,34.1,0.374,...,0.805,10.8,32.2,42.9,27.5,7.9,3.8,13.1,16.9,117.9

# NBA Games 1946 - Present data

In [13]:
# dataset - https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores/
team_stats_data_path = os.path.join(notebook_directory,'data','TeamStatistics.csv')
df_teams = pd.read_csv(team_stats_data_path)
np.shape(df_teams)

(142836, 48)

In [14]:
df_teams.columns

Index(['gameId', 'gameDate', 'teamCity', 'teamName', 'teamId',
       'opponentTeamCity', 'opponentTeamName', 'opponentTeamId', 'home', 'win',
       'teamScore', 'opponentScore', 'assists', 'blocks', 'steals',
       'fieldGoalsAttempted', 'fieldGoalsMade', 'fieldGoalsPercentage',
       'threePointersAttempted', 'threePointersMade',
       'threePointersPercentage', 'freeThrowsAttempted', 'freeThrowsMade',
       'freeThrowsPercentage', 'reboundsDefensive', 'reboundsOffensive',
       'reboundsTotal', 'foulsPersonal', 'turnovers', 'plusMinusPoints',
       'numMinutes', 'q1Points', 'q2Points', 'q3Points', 'q4Points',
       'benchPoints', 'biggestLead', 'biggestScoringRun', 'leadChanges',
       'pointsFastBreak', 'pointsFromTurnovers', 'pointsInThePaint',
       'pointsSecondChance', 'timesTied', 'timeoutsRemaining', 'seasonWins',
       'seasonLosses', 'coachId'],
      dtype='object')

In [ ]:
df_teams.head() # quick look at the data

,gameId,gameDate,teamCity,teamName,teamId,opponentTeamCity,opponentTeamName,opponentTeamId,home,win,...,leadChanges,pointsFastBreak,pointsFromTurnovers,pointsInThePaint,pointsSecondChance,timesTied,timeoutsRemaining,seasonWins,seasonLosses,coachId
0,22400627,2025-03-19 21:00:00,Utah,Jazz,1610612762,Washington,Wizards,1610612764,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,32.0,NaN
1,22400627,2025-03-19 21:00:00,Washington,Wizards,1610612764,Utah,Jazz,1610612762,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,36.0,NaN
2,22400828,2025-02-24 22:00:00,Sacramento,Kings,1610612758,Charlotte,Hornets,1610612766,1,1,...,1.0,31.0,30.0,50.0,19.0,1.0,1.0,29.0,28.0,NaN
3,22400828,2025-02-24 22:00:00,Charlotte,Hornets,1610612766,Sacramento,Kings,1610612758,0,0,...,1.0,10.0,13.0,38.0,12.0,1.0,0.0,14.0,42.0,NaN
4,22400827,2025-02-24 21:00:00,Portland,Trail Blazers,1610612757,Utah,Jazz,1610612762,0,1,...,8.0,15.0,23.0,54.0,18.0,4.0,0.0,25.0,33.0,NaN

In [15]:
df_teams.coachId.unique() # nothing in coach id column. We'll get rid of it.
df_teams = df_teams.drop(columns=['coachId'])

In [17]:
(df_teams.gameDate.min(), df_teams.gameDate.max()) # range of coverage

('1946-11-26 19:00:00', '2025-03-19 21:00:00')

In [18]:
df_teams.gameId.unique().shape[0] # number of games

71418

In [23]:
# create year variable (need to create a season feature, too)
df_teams['Year'] = df_teams.gameDate.str[:4]

# group games by year and calculate mean stats
excluded_columns = ['gameId','teamId','opponentTeamId','home','win']
df_teams_by_year = df_teams.groupby(by='Year').agg('mean',numeric_only=True).drop(columns=excluded_columns).iloc[::-1].round(3)
df_teams_by_year.head(26)

,teamScore,opponentScore,assists,blocks,steals,fieldGoalsAttempted,fieldGoalsMade,fieldGoalsPercentage,threePointersAttempted,threePointersMade,...,biggestScoringRun,leadChanges,pointsFastBreak,pointsFromTurnovers,pointsInThePaint,pointsSecondChance,timesTied,timeoutsRemaining,seasonWins,seasonLosses
Year,,,,,,,,,,,,,,,,,,,,,
2025,113.818,113.818,26.748,4.862,8.034,89.713,41.901,0.468,37.259,13.341,...,10.117,6.928,15.616,17.056,49.361,14.325,4.934,0.470,22.427,22.726
2024,112.617,112.617,26.412,5.123,7.868,88.455,41.468,0.470,36.132,13.035,...,10.236,6.584,15.742,18.294,48.138,13.789,4.873,0.451,7.544,7.474
2023,114.905,114.905,25.819,4.872,7.416,88.796,42.086,0.475,34.662,12.537,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022,112.429,112.429,24.898,4.667,7.504,87.801,41.007,0.468,34.735,12.361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,110.585,110.585,24.339,4.887,7.620,88.320,40.692,0.462,34.973,12.587,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,112.154,112.154,24.406,4.708,7.672,88.139,40.657,0.462,34.929,12.562,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,110.983,110.983,24.498,4.949,7.608,89.117,40.718,0.458,33.195,11.770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,108.345,108.345,23.694,4.972,7.764,87.475,40.163,0.460,30.167,10.730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,105.772,105.772,22.748,4.709,7.741,85.201,39.123,0.460,28.005,10.089,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,103.654,103.654,22.291,4.906,7.824,84.886,38.400,0.453,25.305,8.977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,100.163,100.163,21.885,4.880,7.932,83.894,37.313,0.446,23.353,8.124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,100.908,100.908,21.908,4.657,7.646,82.536,37.491,0.456,21.866,7.787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,98.543,98.543,21.863,4.974,7.806,82.079,37.041,0.452,20.501,7.311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,96.414,96.414,21.087,5.184,7.775,81.488,36.379,0.447,18.903,6.630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011,98.840,98.840,21.235,4.886,7.339,80.948,36.948,0.458,17.980,6.346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,99.868,99.868,21.241,4.851,7.321,80.958,37.120,0.460,18.273,6.548,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,100.085,100.085,20.833,4.818,7.326,80.796,37.095,0.460,18.081,6.521,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,99.245,99.245,21.271,4.799,7.334,80.876,36.848,0.456,17.957,6.500,...,0.000,0.000,13.500,0.000,40.000,12.500,0.000,0.000,1.500,1.000
2007,98.446,98.446,21.334,4.627,7.400,80.051,36.372,0.455,17.379,6.245,...,0.000,0.000,6.500,0.000,11.000,3.000,0.000,0.000,3.000,1.000
2006,97.777,97.777,20.627,4.638,7.228,78.854,35.965,0.457,16.433,5.820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,96.972,96.972,20.779,4.864,7.454,79.578,35.701,0.450,15.748,5.611,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,94.204,94.204,21.070,4.932,7.848,79.458,34.974,0.441,15.065,5.222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,94.610,94.610,21.500,5.012,7.912,80.485,35.509,0.442,14.970,5.199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,95.050,95.050,21.473,5.136,7.885,80.827,35.789,0.444,14.716,5.176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,95.173,95.173,21.989,5.322,7.726,81.247,35.952,0.444,14.236,5.066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,95.870,95.870,21.856,5.139,7.840,80.813,36.041,0.447,13.740,4.833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Games.csv data

In [24]:
games_data_path = os.path.join(notebook_directory,'data','Games.csv')
df_games = pd.read_csv(games_data_path)
np.shape(df_games)

C:\Users\Matth\AppData\Local\Temp\ipykernel_11488\2127102780.py:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_games = pd.read_csv(games_data_path)

(71418, 17)

In [25]:
df_games.sample(10)

,gameId,gameDate,hometeamCity,hometeamName,hometeamId,awayteamCity,awayteamName,awayteamId,homeScore,awayScore,winner,gameType,attendance,arenaId,gameLabel,gameSubLabel,seriesGameNumber
37579,29600460,1997-01-07 19:30:00,Orlando,Magic,1610612753,Philadelphia,76ers,1610612755,109,88,1610612753,Regular Season,17248.0,43,NaN,NaN,NaN
61136,27300511,1974-02-13 20:00:00,Seattle,SuperSonics,1610612760,Boston,Celtics,1610612738,118,100,1610612760,Regular Season,12031.0,0,NaN,NaN,NaN
15633,21300227,2013-11-27 22:30:00,Los Angeles,Clippers,1610612746,New York,Knicks,1610612752,93,80,1610612746,Regular Season,19270.0,137,NaN,NaN,NaN
41460,29300204,1993-12-05 20:00:00,Cleveland,Cavaliers,1610612739,Houston,Rockets,1610612745,98,99,1610612745,Regular Season,17393.0,22,NaN,NaN,NaN
13169,41400165,2015-04-28 22:30:00,Los Angeles,Clippers,1610612746,San Antonio,Spurs,1610612759,107,111,1610612759,Playoffs,19571.0,137,West - First Round,NaN,5.0
37172,29600872,1997-03-07 22:00:00,Seattle,SuperSonics,1610612760,New Jersey,Nets,1610612751,109,90,1610612760,Regular Season,17072.0,72,NaN,NaN,NaN
15068,21300792,2014-02-18 19:00:00,Indiana,Pacers,1610612754,Atlanta,Hawks,1610612737,108,98,1610612754,Regular Season,18165.0,136,NaN,NaN,NaN
62126,27200238,1972-12-15 19:00:00,Chicago,Bulls,1610612741,New York,Knicks,1610612752,90,86,1610612741,Regular Season,11329.0,0,NaN,NaN,NaN
32741,20000726,2001-02-14 19:30:00,Detroit,Pistons,1610612765,New Jersey,Nets,1610612751,105,86,1610612765,Regular Season,11387.0,44,NaN,NaN,NaN
27267,20401068,2005-04-01 19:00:00,Orlando,Magic,1610612753,Washington,Wizards,1610612764,102,111,1610612764,Regular Season,14107.0,155,NaN,NaN,NaN

In [29]:
df_games.gameType.unique()
df_games[df_games.gameType == 'Playoffs'].sample(5)

,gameId,gameDate,hometeamCity,hometeamName,hometeamId,awayteamCity,awayteamName,awayteamId,homeScore,awayScore,winner,gameType,attendance,arenaId,gameLabel,gameSubLabel,seriesGameNumber
53571,48100005,1982-04-23 20:00:00,Houston,Rockets,1610612745,Seattle,SuperSonics,1610612760,91,70,1610612745,Playoffs,15676.0,60,West - First Round,NaN,2.0
25590,40500403,2006-06-13 21:00:00,Miami,Heat,1610612748,Dallas,Mavericks,1610612742,98,96,1610612748,Playoffs,20145.0,146,NBA Finals,NaN,3.0
63851,46900417,1970-05-08 19:00:00,New York,Knicks,1610612752,Los Angeles,Lakers,1610612747,113,99,1610612752,Playoffs,19500.0,0,NBA Finals,NaN,7.0
47482,48700062,1988-05-25 20:00:00,Los Angeles,Lakers,1610612747,Dallas,Mavericks,1610612742,123,101,1610612747,Playoffs,17505.0,20,NaN,NaN,2.0
50558,48400123,1985-04-24 19:00:00,Washington,Bullets,1610612764,Philadelphia,76ers,1610612755,118,100,1610612764,Playoffs,NaN,0,East - First Round,NaN,3.0

### It looks like the TeamStatistics.csv and the Games.csv can be combined.

In [ ]:
import pandas as pda
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings

from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
team1 = input("Enter Team 1:")
team2 = input("Enter Team 2:")

team1_df = df_teams[(df_teams['teamName'] == team1) & (df_teams['opponentTeamName'] == team2)]
team1_df

team2_df = df_teams[(df_teams['teamName'] == team2) & (df_teams['opponentTeamName'] == team1)]
team2_df

#model for team1
features = ['assists', 'blocks', 'steals', 'fieldGoalsMade', 'fieldGoalsPercentage', 'threePointersMade', 'freeThrowsMade', 'reboundsTotal', 'turnovers']
x = team1_df[features]
y = team1_df['teamScore']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(x_train, y_train)

#model for team2
features2 = ['assists', 'blocks', 'steals', 'fieldGoalsMade', 'fieldGoalsPercentage', 'threePointersMade', 'freeThrowsMade', 'reboundsTotal', 'turnovers']
x = team2_df[features]
y = team2_df['teamScore']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
model2 = RandomForestRegressor(n_estimators=100, random_state=42)
model2.fit(x_train, y_train)

RandomForestRegressor(random_state=42)

In [ ]:
team1_score = team1_df[['assists', 'blocks', 'steals', 'fieldGoalsMade', 'fieldGoalsPercentage', 'threePointersMade', 'freeThrowsMade', 'reboundsTotal', 'turnovers']]
team2_score = team2_df[['assists', 'blocks', 'steals', 'fieldGoalsMade', 'fieldGoalsPercentage', 'threePointersMade', 'freeThrowsMade', 'reboundsTotal', 'turnovers']]

predicted_score1 = model.predict(team1_score)[0]
predicted_score2 = model2.predict(team2_score)[0]

print(f'{team1} Score: {predicted_score1}')
print(f'{team2} Score: {predicted_score2}')

Bulls Score: 107.29
Celtics Score: 122.48