### Libraries for reading in data

In [26]:
import pandas as pd
import os
import numpy as np
notebook_directory = os.getcwd()

# NBA Player Box Scores 2024-2025 data

In [27]:
box_score_data_path = os.path.join(notebook_directory,'data','NBA-BoxScores-2024-2025.csv')
df_boxscores = pd.read_csv(box_score_data_path)
np.shape(df_boxscores)

(736, 30)

In [28]:
df_boxscores.head() # looks like this consists of player-games of the 2024 to 2025 NBA seasons

,Unnamed: 0,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0,22400061,1610612752,NYK,New York,1628384,OG Anunoby,OG,F,NaN,...,0.0,5.0,5.0,3.0,1.0,0.0,0.0,3.0,4.0,-21.0
1,1,22400061,1610612752,NYK,New York,1628404,Josh Hart,Josh,F,NaN,...,1.0,3.0,4.0,3.0,0.0,0.0,1.0,0.0,12.0,-23.0
2,2,22400061,1610612752,NYK,New York,1626157,Karl-Anthony Towns,Karl-Anthony,C,NaN,...,0.0,7.0,7.0,3.0,0.0,0.0,0.0,1.0,12.0,-18.0
3,3,22400061,1610612752,NYK,New York,1628969,Mikal Bridges,Mikal,G,NaN,...,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,16.0,-33.0
4,4,22400061,1610612752,NYK,New York,1628973,Jalen Brunson,Jalen,G,NaN,...,0.0,1.0,1.0,2.0,0.0,0.0,4.0,3.0,22.0,-23.0

In [29]:
# player stats in this span
columns_to_exclue = ['Unnamed: 0', 'GAME_ID','TEAM_ID','PLAYER_ID']
player_stats = df_boxscores.groupby(by='PLAYER_NAME').agg("mean", numeric_only=True).drop(columns=columns_to_exclue)
player_stats.insert(0,'TEAM',df_boxscores.groupby(by='PLAYER_NAME')['TEAM_ABBREVIATION'].unique())
player_stats.sample(10)

,TEAM,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
PLAYER_NAME,,,,,,,,,,,,,,,,,,,,
Guerschon Yabusele,[PHI],3.5,7.0,0.5000,0.5,3.0,0.1250,2.0,3.0,0.6665,1.0,3.0,4.0,2.0,1.5,0.5,3.0,5.0,9.5,-3.5
Bilal Coulibaly,[WAS],1.0,2.0,0.5000,0.0,0.0,0.0000,6.0,8.0,0.7500,1.0,5.0,6.0,6.0,1.0,0.0,3.0,0.0,8.0,-19.0
Jaylen Wells,[MEM],2.5,10.0,0.2735,1.5,5.0,0.3000,0.5,2.0,0.2500,1.0,1.0,2.0,0.5,0.5,0.0,0.0,3.0,7.0,3.0
John Konchar,[MEM],1.5,2.0,0.8335,1.5,2.0,0.8335,1.5,2.0,0.7500,1.5,4.0,5.5,1.5,1.0,0.5,0.5,2.0,6.0,-5.5
Ayo Dosunmu,[CHI],2.5,7.0,0.3960,0.0,3.5,0.0000,0.0,0.0,0.0000,0.0,4.5,4.5,4.0,0.0,0.5,1.5,1.5,5.0,-1.5
Jordan Clarkson,[UTA],5.5,13.0,0.4190,1.0,4.5,0.2000,2.0,3.5,0.5500,1.0,2.0,3.0,4.5,0.0,0.5,2.0,1.5,14.0,-8.0
Scoot Henderson,[POR],7.0,13.5,0.5835,0.5,4.0,0.1665,4.0,5.0,0.4445,0.5,2.0,2.5,5.0,1.5,0.0,2.5,2.5,18.5,-19.5
CJ McCollum,[NOP],8.5,18.0,0.4725,4.5,10.0,0.4495,0.0,0.0,0.0000,0.0,2.0,2.0,4.0,2.5,1.0,0.5,1.5,21.5,13.5
Chris Boucher,[TOR],2.5,7.0,0.2780,2.0,4.5,0.4000,4.0,5.0,0.8335,0.5,2.0,2.5,1.0,1.5,2.5,1.0,0.5,11.0,-6.0
Ulrich Chomche,[TOR],1.0,1.0,1.0000,0.0,0.0,0.0000,0.0,0.0,0.0000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,-4.0

In [30]:
# team stats in this span
columns_to_exclue = ['Unnamed: 0', 'GAME_ID','PLAYER_ID','TEAM_ID']
round(df_boxscores.groupby(by='TEAM_ABBREVIATION').agg("mean", numeric_only=True).drop(columns=columns_to_exclue),3).sample(10)

,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
TEAM_ABBREVIATION,,,,,,,,,,,,,,,,,,,
SAC,3.800,8.200,0.407,1.100,2.900,0.233,2.800,3.500,0.578,0.400,3.400,3.800,2.100,0.700,0.200,0.900,1.800,11.500,-1.000
OKC,3.308,7.769,0.272,0.615,2.769,0.147,0.615,0.923,0.185,1.000,2.769,3.769,1.769,0.692,1.000,0.923,1.154,7.846,5.769
MIA,2.667,6.833,0.405,0.917,2.833,0.311,1.833,2.417,0.400,0.750,2.667,3.417,2.000,0.417,0.667,0.917,1.583,8.083,-7.917
UTA,3.136,8.045,0.399,0.864,3.091,0.188,2.409,3.227,0.546,1.273,3.000,4.273,1.773,0.682,0.636,1.636,1.591,9.545,-9.773
LAC,4.200,9.200,0.501,0.800,2.900,0.287,2.100,3.000,0.390,1.300,3.800,5.100,2.700,0.900,0.100,2.100,2.900,11.300,-1.500
MIN,4.222,9.500,0.396,1.833,5.056,0.278,1.944,2.444,0.517,1.000,3.944,4.944,2.278,0.389,0.167,1.722,2.556,12.222,-1.389
DAL,3.231,7.846,0.387,1.462,3.385,0.252,1.308,1.769,0.354,1.308,2.538,3.846,2.077,0.692,0.385,0.692,1.615,9.231,4.231
ORL,3.077,6.577,0.396,1.269,3.038,0.377,1.500,2.115,0.422,0.885,2.808,3.692,2.154,0.692,0.577,0.885,1.538,8.923,6.538
DET,3.304,7.348,0.365,0.957,2.826,0.181,1.565,1.957,0.400,0.870,2.609,3.478,2.043,0.391,0.304,1.478,1.870,9.130,-3.913
MEM,3.522,7.913,0.429,1.174,3.174,0.309,1.957,2.957,0.523,1.174,2.478,3.652,2.261,0.652,0.565,1.261,2.609,10.174,-3.913

# 2025 Team Stats data

In [31]:
team_stats2_data_path = os.path.join(notebook_directory,'data','2025teamstats.csv')
df_teamstats2025 = pd.read_csv(team_stats2_data_path)
np.shape(df_teamstats2025)

(31, 25)

In [32]:
df_teamstats2025.columns

Index(['Rk', 'Team', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
       '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [33]:
df_teamstats2025.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Cleveland Cavaliers,57,240.0,45.1,90.6,0.498,16.1,41.2,0.391,...,0.783,10.8,34.4,45.2,29.1,8.4,4.4,13.2,18.6,122.9
1,2.0,Memphis Grizzlies,57,240.0,45.0,93.3,0.482,13.9,37.5,0.372,...,0.769,13.3,34.4,47.7,28.9,9.0,6.0,16.5,21.3,122.8
2,3.0,Denver Nuggets,57,241.8,45.7,90.0,0.508,12.0,31.6,0.381,...,0.776,11.3,34.6,45.9,31.2,8.2,4.7,14.3,17.5,121.3
3,4.0,Oklahoma City Thunder,56,240.0,44.0,92.4,0.476,14.1,38.8,0.363,...,0.823,11.0,33.6,44.5,26.5,10.9,5.7,12.0,20.4,118.3
4,5.0,New York Knicks,57,241.8,44.0,89.3,0.493,12.8,34.1,0.374,...,0.805,10.8,32.2,42.9,27.5,7.9,3.8,13.1,16.9,117.9

# NBA Games 1946 - Present data

In [34]:
# dataset - https://www.kaggle.com/datasets/eoinamoore/historical-nba-data-and-player-box-scores/
team_stats_data_path = os.path.join(notebook_directory,'data','TeamStatistics.csv')
df_teams = pd.read_csv(team_stats_data_path)
np.shape(df_teams)

(142836, 48)

In [35]:
df_teams.columns

Index(['gameId', 'gameDate', 'teamCity', 'teamName', 'teamId',
       'opponentTeamCity', 'opponentTeamName', 'opponentTeamId', 'home', 'win',
       'teamScore', 'opponentScore', 'assists', 'blocks', 'steals',
       'fieldGoalsAttempted', 'fieldGoalsMade', 'fieldGoalsPercentage',
       'threePointersAttempted', 'threePointersMade',
       'threePointersPercentage', 'freeThrowsAttempted', 'freeThrowsMade',
       'freeThrowsPercentage', 'reboundsDefensive', 'reboundsOffensive',
       'reboundsTotal', 'foulsPersonal', 'turnovers', 'plusMinusPoints',
       'numMinutes', 'q1Points', 'q2Points', 'q3Points', 'q4Points',
       'benchPoints', 'biggestLead', 'biggestScoringRun', 'leadChanges',
       'pointsFastBreak', 'pointsFromTurnovers', 'pointsInThePaint',
       'pointsSecondChance', 'timesTied', 'timeoutsRemaining', 'seasonWins',
       'seasonLosses', 'coachId'],
      dtype='object')

In [36]:
df_teams.head() # quick look at the data

,gameId,gameDate,teamCity,teamName,teamId,opponentTeamCity,opponentTeamName,opponentTeamId,home,win,...,leadChanges,pointsFastBreak,pointsFromTurnovers,pointsInThePaint,pointsSecondChance,timesTied,timeoutsRemaining,seasonWins,seasonLosses,coachId
0,22400627,2025-03-19 21:00:00,Utah,Jazz,1610612762,Washington,Wizards,1610612764,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,32.0,NaN
1,22400627,2025-03-19 21:00:00,Washington,Wizards,1610612764,Utah,Jazz,1610612762,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,36.0,NaN
2,22400828,2025-02-24 22:00:00,Sacramento,Kings,1610612758,Charlotte,Hornets,1610612766,1,1,...,1.0,31.0,30.0,50.0,19.0,1.0,1.0,29.0,28.0,NaN
3,22400828,2025-02-24 22:00:00,Charlotte,Hornets,1610612766,Sacramento,Kings,1610612758,0,0,...,1.0,10.0,13.0,38.0,12.0,1.0,0.0,14.0,42.0,NaN
4,22400827,2025-02-24 21:00:00,Portland,Trail Blazers,1610612757,Utah,Jazz,1610612762,0,1,...,8.0,15.0,23.0,54.0,18.0,4.0,0.0,25.0,33.0,NaN

In [37]:
df_teams.coachId.unique() # nothing in coach id column. We'll get rid of it.
df_teams = df_teams.drop(columns=['coachId'])

In [38]:
(df_teams.gameDate.min(), df_teams.gameDate.max()) # range of coverage

('1946-11-26 19:00:00', '2025-03-19 21:00:00')

In [39]:
df_teams.gameId.unique().shape[0] # number of games

71418

In [40]:
# checking what is redundant across rows of same game
df_teams.loc[2242:2243,].T # we should check for NaNs

                                        2242                 2243
gameId                              22301091             22301091
gameDate                 2024-04-01 20:00:00  2024-04-01 20:00:00
teamCity                             Atlanta              Chicago
teamName                               Hawks                Bulls
teamId                            1610612737           1610612741
opponentTeamCity                     Chicago              Atlanta
opponentTeamName                       Bulls                Hawks
opponentTeamId                    1610612741           1610612737
home                                       0                    1
win                                        1                    0
teamScore                                113                  101
opponentScore                            101                  113
assists                                 29.0                 17.0
blocks                                   5.0                  2.0
steals                                   4.0                  8.0
fieldGoalsAttempted                     82.0                 94.0
fieldGoalsMade                          41.0                 37.0
fieldGoalsPercentage                     0.5                0.394
threePointersAttempted                  40.0                 28.0
threePointersMade                       19.0                  7.0
threePointersPercentage                0.475                 0.25
freeThrowsAttempted                     18.0                 24.0
freeThrowsMade                          12.0                 20.0
freeThrowsPercentage                   0.667                0.833
reboundsDefensive                       37.0                 35.0
reboundsOffensive                        8.0                 16.0
reboundsTotal                           45.0                 51.0
foulsPersonal                           21.0                 17.0
turnovers                               15.0                  8.0
plusMinusPoints                         12.0                -12.0
numMinutes                             240.0                240.0
q1Points                                 NaN                  NaN
q2Points                                 NaN                  NaN
q3Points                                 NaN                  NaN
q4Points                                 NaN                  NaN
benchPoints                              NaN                  NaN
biggestLead                              NaN                  NaN
biggestScoringRun                        NaN                  NaN
leadChanges                              NaN                  NaN
pointsFastBreak                          NaN                  NaN
pointsFromTurnovers                      NaN                  NaN
pointsInThePaint                         NaN                  NaN
pointsSecondChance                       NaN                  NaN
timesTied                                NaN                  NaN
timeoutsRemaining                        NaN                  NaN
seasonWins                               NaN                  NaN
seasonLosses                             NaN                  NaN

In [41]:
# missing percentage per column
for col in df_teams.columns:
    if df_teams[col].isna().sum() > 0:
        print(col, df_teams[col].isna().sum()/len(df_teams))

assists 0.24563135344030917
blocks 0.28493517040522
steals 0.2880436304573077
fieldGoalsAttempted 0.24016354420454228
fieldGoalsMade 0.00011201657845361113
fieldGoalsPercentage 0.24073062813296367
threePointersAttempted 0.2855442605505615
threePointersMade 0.20900893332213166
threePointersPercentage 0.2904939931109804
freeThrowsAttempted 0.03566327816516845
freeThrowsMade 0.00012601865076031254
freeThrowsPercentage 0.03570528438208855
reboundsDefensive 0.2903679744602201
reboundsOffensive 0.2893388221456776
reboundsTotal 0.24322999803970988
foulsPersonal 0.027934134251869278
turnovers 0.28573328852670193
plusMinusPoints 0.0070430423702708
numMinutes 4.200621692010418e-05
q1Points 0.9872021059116749
q2Points 0.9872021059116749
q3Points 0.9872161079839816
q4Points 0.9872161079839816
benchPoints 0.9871881038393683
biggestLead 0.9871881038393683
biggestScoringRun 0.9871881038393683
leadChanges 0.9871881038393683
pointsFastBreak 0.9871881038393683
pointsFromTurnovers 0.9871881038393683
pointsInThePaint 0.9871881038393683
pointsSecondChance 0.9871881038393683
timesTied 0.9871881038393683
timeoutsRemaining 0.9871881038393683
seasonWins 0.9871881038393683
seasonLosses 0.9871881038393683

In [42]:
# removing columns with many missing values
# df_teams = df_teams.drop(columns=df_teams.loc[:,'q1Points':'seasonLosses'].columns)

In [43]:
# create year variable (need to create a season feature, too)
df_teams['Year'] = df_teams.gameDate.str[:4]

# group games by year and calculate mean stats
excluded_columns = ['gameId','teamId','opponentTeamId','home','win']
df_teams_by_year = df_teams.groupby(by='Year').agg('mean',numeric_only=True).drop(columns=excluded_columns).iloc[::-1].round(3)
df_teams_by_year.head(26)

,teamScore,opponentScore,assists,blocks,steals,fieldGoalsAttempted,fieldGoalsMade,fieldGoalsPercentage,threePointersAttempted,threePointersMade,...,biggestScoringRun,leadChanges,pointsFastBreak,pointsFromTurnovers,pointsInThePaint,pointsSecondChance,timesTied,timeoutsRemaining,seasonWins,seasonLosses
Year,,,,,,,,,,,,,,,,,,,,,
2025,113.818,113.818,26.748,4.862,8.034,89.713,41.901,0.468,37.259,13.341,...,10.117,6.928,15.616,17.056,49.361,14.325,4.934,0.470,22.427,22.726
2024,112.617,112.617,26.412,5.123,7.868,88.455,41.468,0.470,36.132,13.035,...,10.236,6.584,15.742,18.294,48.138,13.789,4.873,0.451,7.544,7.474
2023,114.905,114.905,25.819,4.872,7.416,88.796,42.086,0.475,34.662,12.537,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022,112.429,112.429,24.898,4.667,7.504,87.801,41.007,0.468,34.735,12.361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,110.585,110.585,24.339,4.887,7.620,88.320,40.692,0.462,34.973,12.587,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,112.154,112.154,24.406,4.708,7.672,88.139,40.657,0.462,34.929,12.562,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,110.983,110.983,24.498,4.949,7.608,89.117,40.718,0.458,33.195,11.770,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,108.345,108.345,23.694,4.972,7.764,87.475,40.163,0.460,30.167,10.730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,105.772,105.772,22.748,4.709,7.741,85.201,39.123,0.460,28.005,10.089,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,103.654,103.654,22.291,4.906,7.824,84.886,38.400,0.453,25.305,8.977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,100.163,100.163,21.885,4.880,7.932,83.894,37.313,0.446,23.353,8.124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,100.908,100.908,21.908,4.657,7.646,82.536,37.491,0.456,21.866,7.787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,98.543,98.543,21.863,4.974,7.806,82.079,37.041,0.452,20.501,7.311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,96.414,96.414,21.087,5.184,7.775,81.488,36.379,0.447,18.903,6.630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011,98.840,98.840,21.235,4.886,7.339,80.948,36.948,0.458,17.980,6.346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,99.868,99.868,21.241,4.851,7.321,80.958,37.120,0.460,18.273,6.548,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,100.085,100.085,20.833,4.818,7.326,80.796,37.095,0.460,18.081,6.521,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,99.245,99.245,21.271,4.799,7.334,80.876,36.848,0.456,17.957,6.500,...,0.000,0.000,13.500,0.000,40.000,12.500,0.000,0.000,1.500,1.000
2007,98.446,98.446,21.334,4.627,7.400,80.051,36.372,0.455,17.379,6.245,...,0.000,0.000,6.500,0.000,11.000,3.000,0.000,0.000,3.000,1.000
2006,97.777,97.777,20.627,4.638,7.228,78.854,35.965,0.457,16.433,5.820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,96.972,96.972,20.779,4.864,7.454,79.578,35.701,0.450,15.748,5.611,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,94.204,94.204,21.070,4.932,7.848,79.458,34.974,0.441,15.065,5.222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,94.610,94.610,21.500,5.012,7.912,80.485,35.509,0.442,14.970,5.199,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,95.050,95.050,21.473,5.136,7.885,80.827,35.789,0.444,14.716,5.176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,95.173,95.173,21.989,5.322,7.726,81.247,35.952,0.444,14.236,5.066,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,95.870,95.870,21.856,5.139,7.840,80.813,36.041,0.447,13.740,4.833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Games.csv data

In [54]:
games_data_path = os.path.join(notebook_directory,'data','Games.csv')
df_games = pd.read_csv(games_data_path)
np.shape(df_games)
# len(df_games.gameId.unique())

C:\Users\Matth\AppData\Local\Temp\ipykernel_10148\900250138.py:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_games = pd.read_csv(games_data_path)

(71418, 17)

In [45]:
df_games.sample(10)

,gameId,gameDate,hometeamCity,hometeamName,hometeamId,awayteamCity,awayteamName,awayteamId,homeScore,awayScore,winner,gameType,attendance,arenaId,gameLabel,gameSubLabel,seriesGameNumber
50018,28500485,1986-01-24 20:00:00,Atlanta,Hawks,1610612737,New York,Knicks,1610612752,117,100,1610612737,Regular Season,13365.0,41,NaN,NaN,NaN
52362,28300189,1983-11-30 20:00:00,Milwaukee,Bucks,1610612749,Denver,Nuggets,1610612743,139,122,1610612749,Regular Season,9526.0,5,NaN,NaN,NaN
34885,29800633,1999-04-25 12:30:00,Boston,Celtics,1610612738,Washington,Wizards,1610612764,113,84,1610612738,Regular Season,17211.0,17,NaN,NaN,NaN
50924,28400602,1985-02-15 20:00:00,Dallas,Mavericks,1610612742,Phoenix,Suns,1610612756,103,126,1610612756,Regular Season,17007.0,49,NaN,NaN,NaN
61018,27300630,1974-03-12 20:00:00,Boston,Celtics,1610612738,Portland,Trail Blazers,1610612757,110,93,1610612738,Regular Season,3904.0,0,NaN,NaN,NaN
19089,21000717,2011-02-01 22:00:00,Sacramento,Kings,1610612758,Boston,Celtics,1610612738,90,95,1610612738,Regular Season,16482.0,3,NaN,NaN,NaN
31017,20101185,2002-04-17 22:00:00,Phoenix,Suns,1610612756,Dallas,Mavericks,1610612742,89,76,1610612756,Regular Season,19023.0,2,NaN,NaN,NaN
45352,28901026,1990-04-11 20:00:00,Atlanta,Hawks,1610612737,Milwaukee,Bucks,1610612749,106,94,1610612737,Regular Season,13348.0,41,NaN,NaN,NaN
42596,29200250,1992-12-13 20:00:00,Los Angeles,Lakers,1610612747,Milwaukee,Bucks,1610612749,114,96,1610612747,Regular Season,13265.0,20,NaN,NaN,NaN
37956,29600085,1996-11-12 20:30:00,Dallas,Mavericks,1610612742,Indiana,Pacers,1610612754,103,82,1610612742,Regular Season,14153.0,49,NaN,NaN,NaN

In [ ]:
df_games.gameType.unique()
df_games[df_games.gameType == 'Playoffs'].sample(5)

6

### It looks like the TeamStatistics.csv and the Games.csv can be combined.

In [47]:
# df_games is 71418 x 17
# df_teams is 142836 x 48

print(df_games.columns)
print(df_teams.columns)

Index(['gameId', 'gameDate', 'hometeamCity', 'hometeamName', 'hometeamId',
       'awayteamCity', 'awayteamName', 'awayteamId', 'homeScore', 'awayScore',
       'winner', 'gameType', 'attendance', 'arenaId', 'gameLabel',
       'gameSubLabel', 'seriesGameNumber'],
      dtype='object')
Index(['gameId', 'gameDate', 'teamCity', 'teamName', 'teamId',
       'opponentTeamCity', 'opponentTeamName', 'opponentTeamId', 'home', 'win',
       'teamScore', 'opponentScore', 'assists', 'blocks', 'steals',
       'fieldGoalsAttempted', 'fieldGoalsMade', 'fieldGoalsPercentage',
       'threePointersAttempted', 'threePointersMade',
       'threePointersPercentage', 'freeThrowsAttempted', 'freeThrowsMade',
       'freeThrowsPercentage', 'reboundsDefensive', 'reboundsOffensive',
       'reboundsTotal', 'foulsPersonal', 'turnovers', 'plusMinusPoints',
       'numMinutes', 'q1Points', 'q2Points', 'q3Points', 'q4Points',
       'benchPoints', 'biggestLead', 'biggestScoringRun', 'leadChanges',
       'pointsFastBreak', 'pointsFromTurnovers', 'pointsInThePaint',
       'pointsSecondChance', 'timesTied', 'timeoutsRemaining', 'seasonWins',
       'seasonLosses', 'Year'],
      dtype='object')

In [48]:
print(df_games.gameId.unique())
print(df_teams.gameId.unique())

[22400627 22400828 22400827 ... 24600076 24600063 24600052]
[22400627 22400828 22400827 ... 24600076 24600063 24600052]

In [49]:
import pandas as pda
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings

from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
team1 = input("Enter Team 1:")
team2 = input("Enter Team 2:")

team1_df = df_teams[(df_teams['teamName'] == team1) & (df_teams['opponentTeamName'] == team2)]
team1_df

team2_df = df_teams[(df_teams['teamName'] == team2) & (df_teams['opponentTeamName'] == team1)]
team2_df

#model for team1
features = ['assists', 'blocks', 'steals', 'fieldGoalsMade', 'fieldGoalsPercentage', 'threePointersMade', 'freeThrowsMade', 'reboundsTotal', 'turnovers']
x = team1_df[features]
y = team1_df['teamScore']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(x_train, y_train)

#model for team2
features2 = ['assists', 'blocks', 'steals', 'fieldGoalsMade', 'fieldGoalsPercentage', 'threePointersMade', 'freeThrowsMade', 'reboundsTotal', 'turnovers']
x = team2_df[features]
y = team2_df['teamScore']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
model2 = RandomForestRegressor(n_estimators=100, random_state=42)
model2.fit(x_train, y_train)

RandomForestRegressor(random_state=42)

In [ ]:
team1_score = team1_df[['assists', 'blocks', 'steals', 'fieldGoalsMade', 'fieldGoalsPercentage', 'threePointersMade', 'freeThrowsMade', 'reboundsTotal', 'turnovers']]
team2_score = team2_df[['assists', 'blocks', 'steals', 'fieldGoalsMade', 'fieldGoalsPercentage', 'threePointersMade', 'freeThrowsMade', 'reboundsTotal', 'turnovers']]

predicted_score1 = model.predict(team1_score)[0]
predicted_score2 = model2.predict(team2_score)[0]

print(f'{team1} Score: {predicted_score1}')
print(f'{team2} Score: {predicted_score2}')

Bulls Score: 107.29
Celtics Score: 122.48